<div class="row-md-3">
    <h1 class="text-center">New TODO</h1>
    <hr>
    <form action='/new' method='post'>
        <div class="grid-container-add">
            <div class="grid-item-add">
                <label for="title">Title</label>
            </div>
            <div class="grid-item-add">
                <input type="text" name="title" id="title" required/>
            </div>

            <div class="grid-item-add">
                <label for="description">Description</label>
            </div>
            <div class="grid-item-add">
                <textarea id="description" name="description"></textarea>
            </div>
            <div class="grid-item-add">
                <label for="importance">Importance</label>
            </div>
            <div class="grid-item-add">
                <p class="slider">low</p>
                <input class="slider" name="importance" type="range" min="1" max="5" value="1" class="slider"
                       id="importance">
                <p class="slider">high</p>
            </div>
            <div class="grid-item-add">
                <label for="dueDate">due Date</label>
            </div>
            <div class="grid-item-add">
                <input type="date" id="dueDate" name="dueDate" required/>
            </div>
            <div class="grid-item-add">
                <label for="done">Done</label>
            </div>
            <div class="grid-item-add">
                <input type="checkbox" id="done" name="done"/>
            </div>
        </div>

        <input class="btn" type="submit" id="create" value="Create"/>
    </form>
    <!--        <label for="cancel">Cancel</label>-->
    <form action='/' method='get'>
        <input class="btn" type='submit' value='Cancel'>
    </form>
</div>