<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new note</title>
    <link rel="icon" href="/images/shin_chan_icon.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="row-md-3">
    <h1 class="text-center">New TODO</h1>
    <hr>
    <div class="col-md-1 mx-auto">
        <label for="title">Title</label>
        <input type="text" id="title"/>
        <br>
        <label for="description">Description</label>
        <textarea id="description"></textarea>
        <br>
        <label for="importance">Importance</label>
        <p class="slider">low</p>
        <input class="slider" type="range" min="1" max="5" value="1" class="slider" id="importance">
        <p class="slider">high</p>
        <br>
        <label for="doneTill">Done till</label>
        <input type="date" id="doneTill"/>
        <br>
        <label for="done">Done</label>
        <input type="checkbox" id="done"/>
        <br>
        <!--        <label for="create">Create</label>-->
        <input type="button" id="create" value="Create"/>
        <!--        <label for="cancel">Cancel</label>-->
        <form action='/' method='get'><input type='submit' value='Cancel'></form>
    </div>
</div>
</body>
</html>