<div class="container">
<div class="row">
    <form action='/new' method='get'>
        <input class="col-md" type='submit' value='create new Note'>
    </form>
    <select class="col-md-2">
        <option selected>Default</option>
        <option>Dark</option>
    </select>

</div>
<div class="row">
    <input type="button" value="order by"/>
</div>
<div class="row">
    <table>
        <tr>
            <th class="col-md-2">Task completion</th>
            <th class="col-md-6">Title</th>
            <th class="col-md-2">Creation Date</th>
            <th class="col-md-2">Importance</th>
        </tr>
        {{#each notes}}
            <tr>
                <td class="col-md-2">
                    <p>{{dueDate}}</p>
                    <input type="checkbox" id="hans" name="is finished">
                    <label for="hans">is finished</label>
                </td>
                <td class="col-md-6">
                    <p>{{title}}</p>
                    <textarea readonly>{{description}}</textarea>
                </td>
                <td class="col-md-2">{{creationDate}}</td>
                <td class="col-md-2"><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span></td>
                <td class="col-md-1"><input type="button" value="edit"></td>
            </tr>
        {{/each}}
    </table>
</div>
</div>