:root {
    --main-color: #008dd5;
    --secondary-color: #03254e;
}

body {
    background-color: #edf2f4;
}

.btn {
    background-color: var(--main-color);
    border-color: var(--secondary-color);
    color: white;
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.checked {
    color: orange;
}